.main{
    height: 100vh;
    position: relative;

    overflow-x: auto;
    overflow-y: hidden;
    padding: 0px 50px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.headding{
    position: sticky;
    min-width: 90vw;
    height: fit-content;

    color: transparent;
    -webkit-text-stroke: 1px white;
    font-weight: 900;
    font-size: 60px;
    padding: 0%;

    left: 50px;
    align-self: center;
    text-align: center;
}

.card_holder {
    height: fit-content;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    grid-auto-columns: minmax(350px, 1fr);
    gap: 20px;
}
